.header{
    background-color: rgb(237, 255, 214);
    height: 50px;
    font-size: 40px;
    font-family: Calibri;
    text-align: center;
}
span{
    width: 200px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 10px;
}